* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

:root {
  --moderateViolet: hsl(263, 55%, 52%);
  --veryDarkGrayishBlue: hsl(217, 19%, 35%);
  --veryDarkBlackishBlue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(0, 0%, 81%);
  --lightGrayishBlue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--lightGrayishBlue);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: grid;
  grid-gap: 1.3rem;
  max-width: 1209px;
  grid-template-areas:
    "daniel daniel daniel jonathan kira "
    "jean patrick patrick patrick kira";
  padding: 1rem;
}

.grid-item {
  padding: 1rem 2rem;
  justify-content: center;
  border-radius: 10px;
  color: var(--white);
}

.daniel-container {
  background-color: var(--moderateViolet);
  border: 1px solid var(--moderateViolet);
  box-shadow: 0 0 10px var(--moderateViolet);
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 88% top;
  grid-area: daniel;
}

.jonathan-container {
  background-color: var(--veryDarkGrayishBlue);
  border: 1px solid var(--veryDarkGrayishBlue);
  box-shadow: 0 0 10px var(--veryDarkBlackishBlue);
  grid-area: jonathan;
}

.kira-container {
  background-color: var(--white);
  color: var(--veryDarkGrayishBlue);
  box-shadow: 0 0 10px var(--white);
  border: 1px solid var(--white);
  grid-area: kira;
}

.jean-container {
  background-color: var(--white);
  color: var(--veryDarkGrayishBlue);
  box-shadow: 0 0 10px var(--white);
  border: 1px solid var(--white);
  grid-area: jean;
}

.patrick-container {
  background-color: var(--veryDarkBlackishBlue);
  box-shadow: 0 0 10px var(--veryDarkBlackishBlue);
  border: 1px solid var(--veryDarkBlackishBlue);
  grid-area: patrick;
}
.profile-container {
  display: flex;
  align-items: center;
}

.profile-container img {
  border-radius: 50%;
  border: 2px solid var(--white);
  margin-right: 1rem;
  width: 3rem;
}

.profile-container .name {
  font-size: 13px;
  line-height: 1.5;
}

.profile-container .name p {
  opacity: 50%;
}

.title {
  font-size: 16px;
  margin: 1rem auto;
  font-weight: 800;
}

.content {
  opacity: 70%;
  font-size: 13px;
  line-height: 1.5;
}

.attribution {
  font-size: 13px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 950px) {
  .container {
    grid-template-areas:
      "daniel daniel daniel daniel daniel"
      "jonathan jonathan jonathan jonathan jonathan"
      "jean jean jean jean jean "
      " patrick patrick patrick patrick  patrick "
      "kira kira kira kira kira";
  }
  .daniel-container,
  .jean-container,
  .kira-container,
  .patrick-container,
  .jonathan-container {
    justify-content: center;
    margin: auto;
    max-width: 500px;
  }
}
